/* Your custom css code goes here */
.container_scroll {
    position: absolute;
    width: 24px;
    height: 24px;
    /* border: 10px; */
    bottom: 40px;
    left: 50%;
    z-index: 9999;
    margin-left: -12px;
}

.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}


@keyframes pulse {
    to {
        opacity: 1;
    }
}

.news-block {
    margin-bottom: 20px;
    cursor: pointer;
}

.news-block:last-child {
    margin-bottom: 0;
}

.news-block__heading {
    font-weight: bold;
    font-size: 1.2em;
}

.news-block:hover .news-block__heading {
    color: #52B947;
}
.news__item-inner {
    max-width: 500px;
    margin: 0 auto;
}

.news__item {
    margin: 40px auto;
}

.news__item-img {
    width: 100%;
    margin-bottom: 20px;
}

.news-item__body {
    color: #3E4C5B;
    margin-top: 20px;
}

.navigation {
    margin: 20px 0;
}

.news-card__lable {
    color: #1BB7CD;
}

.news-card__title {
    font-size: 2em;
}

.news-card__additional {
    color: #9AA8B6;
}

.news-card__img {
    width: 100%;
    height: 100%;
    background-size: cover !important;
    padding-top: 33.33333%;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.news-card__img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.news-card__img-wrapper {
    width: 100%;
    display: block;
    margin: 20px 0;
    overflow: hidden;
}

.news-card__b {
    margin-top: 15px;
    color: #52B947;
}

.news-card__description {
    color: #9AA8B6;
}

@media screen and (max-width: 992px) {
    .news-card {
        margin-bottom: 40px;
    }
}
